/* Add.module.css */

.addHeader {
    padding: 50px 5%;
}

.btnCon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btnCon a {
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--mint-green);
    border: none;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    transition: .5s ease-in-out;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
}

.btnCon a:hover {
    background-color: #4bee4b;
    text-shadow: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.addHeader h1 {
    margin-top: 20px;
    padding: 20px;
    color: black;
    border-radius: 5px;
    background-color: var(--light-gray);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    font-size: 25px;
}

.addSection {
    padding: 20px 5%;
}

.addContainer {
    padding: 20px;
    border: 2px solid var(--mint-green);
    border-radius: 5px;
    margin-bottom: 40px;
}

.heading {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.addContainer div {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.addContainer label {
    margin-bottom: 10px;
}

.addContainer input, 
.addContainer textarea {
    padding: 10px;
    outline-color: #98FF98;
    border: 1px solid rgb(112, 106, 106);
    border-radius: 3px;
    text-transform: capitalize;
    resize: none;
}

.submitBtn {
    padding: 15px 40px;
    background-color: var(--mint-green);
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 2px green;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.submitBtn:hover {
    background-color: rgb(17, 209, 17);
    text-shadow: none;
}

.noteSection {
    padding: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 80px;
}

.noteSection h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.note {
    margin-bottom: 30px;
}

.noteHeader {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.noteTitle {
    text-transform: capitalize;
    font-weight: bold;
}

.noteContent {
    font-size: 15px;
}

.noteButton {
    padding: 5px 10px;
    font-size: 20px;
}

.note_Con{
    border: 2px solid var(--mint-green);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
}
.note_Con div{
    margin-bottom: 5px;
}
.btn_Con{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}
.eddit_btn{
    color: var(--mint-green);
    cursor: pointer;
    font-size: 25px;
}
.delete_btn{
    color: red;
    cursor: pointer;
    font-size: 25px;
}
