.footer{
    padding: 30px 0;
    text-align: center;
}

.footer p{
    font-size: 14px;
}

.footer p a{
    font-size: 14px;
    color: var(--mint-green);
    text-decoration: none;
    font-weight: bolder;
    transition: 0.3s ease-in-out;
}

.footer p a:hover{
    color: #121212;
}

.footer p .fa{
    color: red;
}
