.signUp {
    width: 100%;
    max-width: 350px;
    margin: 40px auto;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.container {
    text-align: center;
}

.timeIcon{
    position: absolute;
    right: 0;
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
}

.signUp h1 {
    padding-bottom: 20px;
    font-size: 35px;
}

.errorMessage {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #121212;
}

.container form div {
    position: relative;
    width: 100%;
}

.eyeIcon {
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-size: 18px;
    cursor: pointer;
}

.container form div input, 
.container form button {
    width: 90%;
    padding: 15px;
    margin: 10px auto;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: solid lightgray 2px;
    cursor: pointer;
}

.container form button {
    background-color: var(--mint-green);
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 2px rgb(4, 19, 4);
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.container form button:hover {
    background-color: rgb(17, 209, 17);
    text-shadow: none;
}

.formPolicy {
    width: 90%;
    margin: 10px auto;
}

.formPolicy input {
    width: 20px;
    height: 20px;
    background-color: black;
    font-size: 30px;
    cursor: pointer;
    transform: translateY(5px);
    margin-right: 10px;
}

.createAlready span {
    color: blue;
    cursor: pointer;
}