.ideasJotter{
    padding: 60px 5%;
}

.ideasJotter h1{
    color: var(--heading-title);
    font-size: 50px;
    font-weight: 200;
}

.ideasJotter .ideasJotter-homepage{
    background-color: #e9ecef;
    padding: 30px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 9px;
    border: 2px solid var(--mint-green);
    margin-top: 10px;
}

.ideasJotter-homepage h1{
    opacity: 1;
    bottom: 0;
    font-size: 60px;
    animation: looping linear 10s infinite;
    color: #121212;
    margin-bottom: 20px;
}

.ideasJotter .row{
    align-items: center;
}

.ideasJotter .col-2 img{
    width: 100%;
}

@keyframes looping {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(-100%);
    }
}

.ideasJotter-homepage h2{
   font-size: 25px;;
   color: black;
}

.ideasJotter-homepage p{
    color: #121212;
    margin: 20px 0;
}
.ideasJotter-homepage .arrow_down{
    font-size: 30px;
    color: green;
}

.ideasJotter-homepage .btn{
    cursor: pointer;
    padding: 15px 25px;
    font-size: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(17, 209, 17);
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 2px green;
    color: black;
    text-decoration: none;
    display: block;
    max-width: 200px;
    margin: 20px auto;
}

.ideasJotter-homepage .btn:hover{
    background-color: var(--mint-green);
    text-shadow: none;
    color: green;
}

/*-------------media query--------------*/
@media (max-width:680px){
    .ideasJotter .col-2{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .col-2 img{
        width: 100%;
    }
}
